*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: black;
}
.zero {
	margin-left: 10px;
	margin-top: 10px;
	display: inline-block;
	/*border: 2px solid white;*/
	overflow: hidden;
}

.zero div{/*根div*/
    width: 200px;
    height: 231px;	/*height = width * 2/(3**0.5) */
  	overflow: hidden;
  	display: inline-block;
  	/*border: 2px solid chartreuse;*/
}

.zero .one,.two {/*第一层div*//*第二层div*/   
    transform: rotate(60deg);
}

.zero .three {/*第三层div,用来放图片的div*/
	background: #CCCCCC;
    transform: rotate(-120deg);
}

.zero img{
	width: 100%;
	height: 100%;
	transition: width 1s linear 0.5s,height 1s linear 0.5s,margin 1s linear 0.5s;
}

.zero img:hover{
	width: 120%;
	height: 120%;
	margin: -10%;
}
@keyframes first{
	from{}
	to{width: 120%;height: 120%;margin: -10%;}
}


 #box1 {
    height: 100px;
   	width: 100px;
    background: green;
    transition: background 2s,transform 2s;
}
#box1:hover{transform:rotate(180deg) scale(.5,.5);background:red;}
